* {
margin: 0em;
padding: 0em;
font-size: 100%;
border-style: none;
list-style-type: none;
box-sizing: border-box;
}

body{	
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

h1{
	margin-bottom: 0.75rem;
	font-size: 1.5rem;
	font-weight: normal;
}

nav a, footer a, #responsive-menu a{	
	padding: 0.5em 1.25em;
}

nav a:hover, footer a:hover, #responsive-menu a:hover{	
	background-color: rgba(120, 120, 120, 0.3);
}

a{
	color: #9c0303;
	text-decoration: none;	
}

section a:hover{
	color: #000;
}

p{
	margin-bottom: 0.75rem;
}

#wrapper{
	width: 60rem;
	margin: 0 auto 1.5rem auto;		
}

#primary ul{
	display: flex;
	justify-content: space-around;
	margin: 2rem auto;
	font-size: 1.5rem;	
	width: 40rem;
}

#responsive-icon {	
	display: none;
	width: 100%;
	margin: 0 0 0.75rem 9rem;
}

#responsive-icon a{	
	width: 100%;
	display: inline-block;
	font-size: 1.3rem;
}

#responsive-icon img{	
	vertical-align: bottom;
	margin: 0 2rem;
}

#responsive-menu{
	display: none;
	margin: 0 0 0 10rem;
}

main{
	display: flex;
	justify-content: space-around;
}

section{
	width: 70%;
	padding: 1.5rem 2rem;	
}

#secondary{
	padding: 1.5rem 2rem 0 0;	
}

#secondary h1{
	margin-left: 1rem;
	white-space: nowrap;
}

#secondary ul, #responsive-menu ul{	
	line-height: 2;
	letter-spacing: 1px;
	white-space: nowrap;
	font-size: 0.9rem;
}

table{
	margin: 20px 0 20px 0;
	width: 100%;
	border-collapse: collapse;
}

th{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 6px;	
	background: #ccc;
	font-weight: normal;
	border-collapse: collapse;
	text-align: left;
	font-size: 75%;
}

td{
	border-bottom: 1px solid black;
	padding: 6px;
	border-collapse: collapse;
	vertical-align: text-top;
}

.num_posts{
	text-align: center;
}

/* Pagination style */
.pagination{margin:0;padding:0;}
.pagination li{
	display: inline;
	padding: 6px 10px 6px 10px;
	border: 1px solid #ddd;
	margin-right: -1px;
	font: 15px/20px Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	box-shadow: inset 1px 1px 5px #F4F4F4;		
}

.pagination li.first {
    border-radius: 5px 0px 0px 5px;
}
.pagination li.last {
    border-radius: 0px 5px 5px 0px;
}
.pagination li:hover{
	background: #F0F0F0;
}
.pagination li.active{
	background: #F0F0F0;
	color: #333;
}

.small{
	font-size: 60%;
}

.medium{
	font-size: 75%;
}

.spacebetween{
	display: flex;
	justify-content: space-between;
}

.spacearound{
	display: flex;
	justify-content: space-around;
}

.shopwrapper{
	margin-top: 2rem;
}

figure img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;	
}

figcaption{
	text-align: center;	
	padding: 0 30px;	
}

form{	
	margin-bottom: 1rem;
}

.col-20, .col-33, .col-40, .col-50{
	float: left;	
	margin-bottom: 1rem;	
}

.col-20{
	width: 20%;
}

.col-33{	
	width: 33%;	
}

.col-40{	
	width: 40%;				
}

.col-50{
	width: 50%;
}

.grow { 
transition: all .2s ease-in-out; 
}
 
.grow:hover { 
transform: scale(1.1); 
}

/* clear floats after columns */
.row:after{
	content: "";
	display: table;
	clear: both;	
}

input[type=text], input[type=password], input[type=email], textarea{	
	border: 1px solid grey;		
	padding: 3px; 
	margin: -4px; /* to stop elements moving in 3 column form */
	display: block;
}

input[type=submit]{
	border: 1px solid grey;
	padding: 5px;
}

input[type=submit]:hover{
	background-color: #989898;
}

.error{
	color: red;
	font-size: 80%;
}

footer ul{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: 30rem;
	padding: 1.5rem 0;
	font-size: 0.8rem;
}
	
	@media screen and (max-width: 480px) {
		
	.col-20, .col-33, .col-40, .col-50{
		width: 100%;
	}
		
	#secondary{
		display: none;
	}
	
	#responsive-icon{
		display: inline-block;
	}
	
	#responsive-menu{
		display: inline-block;
	}
	
	.menu-closed {   
		max-height: 0;
		overflow: hidden;
		float: none;
		width: 100%;
		transition: max-height 0.5s;
	}

	.menu-open {   
		max-height: 1000px;
		transition: max-height 0.5s;
	}
	
	.space-around{
		display: inline-block;
	}
	
	.spacebetween{
		display: inline-block;
	}
}